name: 'Build Windows App'

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'
      - '.gitignore'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-tauri:
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: 'windows-latest'
            args: ''

    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: x86_64-pc-windows-msvc

      - name: Install Frontend Dependencies
        working-directory: ./mae-windows
        run: npm install

      - name: Build Tauri App
        uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          projectPath: './mae-windows'
          tagName: win-app-v__VERSION__
          releaseName: 'Mãe para Windows v__VERSION__'
          releaseBody: 'Release automatizado da conversão do Mãe para a plataforma Windows.'
          releaseDraft: true
          prerelease: false
          args: ${{ matrix.args }}
